.gitignore
.gitattributes

.env
.env.example

.ipnyb
.ipynb_checkpoints


# IDE
.idea/
.vscode/


# Python environment
*.pyc
__pycache__/
*.pyo
*.pyd
*.coverage
.venv/
.ipynb_checkpoints/


# dev testing code
htmlcov/
tests/
test.ipynb
test.py
data/XMLs/test_schemas/
temp_data/