ENVIROMENT=test
PROVIDER_NAME=openrouter|gemini

# ==== OPENROUTER ====
OPENROUTER_API_KEY=dummy_key
OPENROUTER_MODEL_NAME=dummy_model

# ==== GEMINI ====
GEMINI_API_KEY=dummy_key
GEMINI_MODEL_NAME=dummy_model

# ==== SITE ====
BASE_URL=http://127.0.0.1:8000/
API_URL=http://127.0.0.1:8000/api/
SITE_NAME=your_site_name #Optional. Usen in openrouter statistics

# ==== OTHER ====
DEBUG_MODE=false
LOG_LEVEL=INFO
