version: '3.8'

services:

  backend:
    build: .
    ports:
      - "${PORT:-8000}:8000"
    environment:
      - BASE_URL = {$BASE_URL:?err}
      - API_URL = {$API_URL:?err}

      - OPENROUTER_API_KEY = {$OPENROUTER_API_KEY:?err} # API key for OpenRouter
      - MODEL_NAME = {$MODEL_NAME:?err}

      - ENVIROMENT = {$ENVIRONMENT:-prod}
