name: CD - render & push

permissions:
  contents: read
  actions: read
  workflows: read

on:
  workflow_run:
    workflows: ["CD - build & push image"]
    branches: [main]
    types:
      - completed
  workflow_dispatch:

jobs:
  deploy-render:
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'workflow_dispatch' || github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: Debug Info
        run: |
          echo "Event Name: ${{ github.event_name }}"
          echo "Actor: ${{ github.actor }}"
          
      - name: Trigger Render Deployment
        run: |
          # Флаг -f заставит curl упасть с ошибкой, если Render вернет ошибку
          curl -f -X POST "${{ secrets.RENDER_DEPLOY_HOOK_URL }}"